:local(*)
{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

:local(.wrapper)
{
    width:100vw;
    height:100vh;
    background-color: #f0fff0;

}
:local(.container )
{
    padding:10px 10px 5px 10px;
    background-color: white;
}
@media only screen and (min-width:600px)
{
    :local(.container) 
    {
         max-width:75vw;
        margin:auto;
        position: absolute;
        top: 50%;
        left:50%;
        
        transform: translate(-50%,-50%);
    }
    
}
@media only screen and (max-width:600px)
{
    :local(.container){
        position: absolute;
        top:50%;
        left:50%;
        transform: translate(-50%,-50%);
       min-width:300px;
       max-width:50vw;
    }
}